ul {
    list-style: none;
}

a {
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between; 
}

header > ul {
    padding: 0;
    margin: 21px;
    display: flex;
    gap: 3rem
}

body > section {
    background-color: dodgerblue;
    color: white;
    padding: 60px 200px 50px
}

#search_links {
    background-color: lightgrey;
    color: black;
    padding: 30px 200px 30px;
    text-align: left;
    font-size: 24px;
}

#searchbar input[type="text"] {
    width: 600px; 
    height: 40px; 
    font-size: 16px;
    border-color: black;
}

#popular-links {
    padding:10px 10px;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 50px;
}


.flex-container li {
    padding: 10px;
    text-align: left;
}

li > img {
    width:350px;
    height:250px
}

.grid-container {
    display: grid;
    grid-template-areas:
    'gov_act depts'
    'services activity';
    grid-template-columns: 7fr 3fr;
}
